
@{
    ViewBag.Title = "Aradığınız Sayfa Bulunamadı";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section css{
    <link href="~/colorlib-error-404-10/css/style.css" rel="stylesheet" />
    }

<section>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>404 - Sayfa Bulunamadı!</h2>
            <p>Aradığınız Sayfayı Bulumadık. İsterseniz Sizi Ana Sayfaya Yönlendirelim</p>
            <a href="#">Ana Sayfaya Git</a>
        </div>
    </div>
</section>


