@using EntityLayer.Concrete
@model IEnumerable<Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <h3>Mvc Kamp Tablo Örneği</h3>
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
        </tr>
        @foreach (Category cat in Model)
        {
            <tr>
                <td>@cat.CategoryID</td>
                <td>@cat.CategoryName</td>
                <td>@cat.CategoryDescription</td>
                <td>@cat.CategoryStatus</td>
            </tr>
        }
    </table>
</body>
</html>
