<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Hakkımızda Metin Girşi</h3>
            </div>
            <form method="post" action="/About/AddAbout">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Hakkımda Metin 1</label>
                                <input type="text" name="AboutDetails1" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Hakkımda Metin 2</label>
                                <input type="text" name="AboutDetails2" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Hakkımda Görsel 1</label>
                                <input type="text" name="AboutImage1" class="form-control" />
                            </div>
                        </div>
                    </div> <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Hakkımda Görsel 2</label>
                                <input type="text" name="AboutImage2" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <button class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    
